<%= form_for @attachment, :html => {:multipart => true} do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :uploaded_file, "文件" %><br />
      <%= f.file_field :uploaded_file %>
    </p>
    <p><%= f.submit "上传" %></p>
<% end %>